<<<<<<< HEAD
.btn--twitter {
  background-color: blue; }

.btn--insta {
  background-color: pink; }

.btn--wpp {
  background-color: red; }

=======
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 1 rem = 10px */
  scroll-behavior: smooth; }

body {
<<<<<<< HEAD
  color: var(black); }
=======
  color: var(--secundario); }
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898

a {
  display: flex;
  text-decoration: none;
  outline: none;
  align-items: center; }

/* a:hover :{
      /* text-decoration: underline; 
      */
h1 {
<<<<<<< HEAD
  font-family: var("Bebas Neue", cursive);
  font-size: 7rem;
  color: var(white); }

h2 {
  font-family: var("Bebas Neue", cursive); }

p {
  font-family: var("Bebas Neue", cursive);
=======
  font-family: var(--fuente);
  font-size: 7rem;
  color: var(--color); }

h2 {
  font-family: var(--fuente); }

p {
  font-family: var(--fuente);
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898
  font-size: 2.5rem;
  color: var(--color);
  margin: 0%;
  padding: 0; }

/* HELPERS */
.color-n {
<<<<<<< HEAD
  color: var(black); }

.centrar-txt {
  text-align: center;
  color: var(black); }
=======
  color: var(--secundario); }

.centrar-txt {
  text-align: center;
  color: var(--secundario); }
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-row {
  display: flex; }

header {
<<<<<<< HEAD
  background-color: var(black); }
  header .hero {
    min-height: 85.5vh;
    position: relative; }
=======
  background-color: var(--secundario); }
  header .hero {
    min-height: 87.5vh;
    position: relative; }
    header .hero .container_canchas_boton {
      display: block;
      font-family: var(--fuente);
      color: var(--color);
      text-align: center;
      padding: 2rem 5rem;
      font-size: 3rem;
      text-transform: uppercase;
      background-color: black;
      margin-bottom: 2rem;
      border: none;
      text-decoration: none;
      align-items: center; }
      header .hero .container_canchas_boton:hover {
        color: var(--secundario);
        background-color: #3c7209;
        transition: 0.4s ease-out all; }
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898
    header .hero_promo {
      padding-top: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60%;
      margin: auto;
      position: relative;
      z-index: 2; }
<<<<<<< HEAD
    header .hero .efecto {
      animation: efecto 1s; }
  header .navbar {
    padding: 10px;
    background: var(black);
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background: var(black);
=======
  header .navbar {
    padding: 10px;
    background: var(--secundario);
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background: var(--secundario);
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898
    position: sticky !important;
    top: 0; }
    header .navbar_logo_img {
      height: 100px;
      width: auto; }
  header header .logo {
    flex-basis: 70%; }
  header .menu {
    flex-basis: 30%;
    justify-content: space-between; }
  header .menu {
<<<<<<< HEAD
    background-color: var(black);
=======
    background-color: var(--secundario);
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898
    margin-bottom: 0rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 30%; }
    header .menu_logo {
<<<<<<< HEAD
      color: var(white);
=======
      color: var(--color);
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898
      font-size: 5rem;
      padding-top: 2rem; }
    header .menu_link {
      color: #fff;
      display: inline-block;
      padding: 20px;
      width: 100%;
      text-align: center;
<<<<<<< HEAD
      color: var(white);
      transition: 0.4s ease-out all;
      font-size: 2rem;
      font-family: var("Bebas Neue", cursive); }
=======
      color: var(--color);
      transition: 0.4s ease-out all;
      font-size: 2rem;
      font-family: var(--fuente); }
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898
      header .menu_link_link:hover {
        background: #3c7209;
        color: #fff;
        text-decoration: none; }

.efecto {
  animation: efecto 1s; }

/* header h1{
      font-size: 2rem;
  } */
/* header{
      background: var(--secundario);
      position: sticky;
      top: 0;
  } */
.navbar_ul {
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.menu_div_ul {
  flex-basis: 30%; }

.boton {
  display: block;
<<<<<<< HEAD
  font-family: var("Bebas Neue", cursive);
  color: var(white);
=======
  font-family: var(--fuente);
  color: var(--color);
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898
  text-align: center;
  padding: 2rem 5rem;
  font-size: 3rem;
  text-transform: uppercase;
  background-color: black;
  border: none;
  text-decoration: none;
  align-items: center; }

.ancla {
  width: 30rem;
  text-align: center; }

.boton:hover {
<<<<<<< HEAD
  color: var(black);
  background-color: #3c7209;
  transition: 0.4s ease-out all; }

footer .menu {
  background-color: var(black);
  margin-bottom: 0rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 30%; }
  footer .menu_div_ul {
    flex-basis: 30%; }
  footer .menu_logo {
    color: var(white);
    font-size: 5rem;
    padding-top: 2rem; }
  footer .menu_div {
    margin-left: 2rem; }

.btn--twitter {
  background-color: blue; }

.btn--insta {
  background-color: pink; }

.btn--wpp {
  background-color: red; }

main .container {
  max-width: 1080px;
  margin: 0 auto; }
  main .container .flex-row {
    display: flex; }
  main .container_canchas {
    display: flex; }
  main .container_aside {
    min-width: 10%;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 60px;
    padding-right: 10px;
    /* margin: 40px 20px 20px 0; */
    height: 23%;
    background-color: var(black);
    padding: 2rem;
    border-radius: 10px;
    position: sticky;
    top: 1.5rem;
    font-size: 5rem;
    font-family: var("Bebas Neue", cursive); }
    main .container_aside_aside_titulo {
      font-family: var("Bebas Neue", cursive);
      color: var(--color);
      padding: 1.2rem;
      text-align: center; }
    main .container_aside_aside_ancla {
      display: block;
      font-family: var("Bebas Neue", cursive);
      color: var(--color);
      text-align: center;
      padding: 2rem 5rem;
      font-size: 3.6rem;
      text-transform: uppercase;
      background-color: black;
      border: none;
      text-decoration: none;
      align-items: center; }
      main .container_aside_aside_ancla--activo {
        color: var(black);
        background-color: #3c7209;
        transition: 0.4s ease-out all; }
  main .container_canchas_h2 {
    font-size: 5rem;
    margin-left: 1rem; }
  main .container_canchas_p {
    font-size: 4rem; }
  main .container_canchas_ul {
    font-family: var(--fuente);
    color: var(--secundario);
    padding: 1.2rem;
    font-size: 4rem;
    list-style: none; }
  main .container .container_canchas_boton {
    display: block;
    font-family: var(--fuente);
    color: var(--color);
    text-align: center;
    padding: 2rem 5rem;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: black;
    margin-bottom: 2rem;
    border: none;
    text-decoration: none;
    align-items: center; }
    main .container .container_canchas_boton:hover {
      color: var(--secundario);
      background-color: #3c7209;
      transition: 0.4s ease-out all; }

@media (min-width: 1000px) {
  h1 {
    font-size: 5rem; }
  .hero {
    min-height: 2vh;
    position: relative; }
    .hero_promo {
      padding-top: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      margin: auto;
      position: relative;
      z-index: 2; } }

@media (max-width: 1000px) {
  h1 {
    font-size: 5rem; }
  .menu_div {
    margin-right: 200rem; }
  body {
    background-color: #fff; }
  .logo_img {
    background-color: var(--secundario); }
  nav {
    background-color: var(--secundario); }
  .container2 {
    /* margin-left: 0;
          margin-right: 0;
          max-width: 768px;
         margin:  2rem auto; */
    padding: 10px;
    background: var(--secundario);
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky !important;
    top: 0; }
  .container {
    /* margin-left: 0;
          margin-right: 0;
          max-width: 768px;
         margin:  2rem auto; */
    padding: 10px;
    background: white;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky !important;
    top: 0; }
  h1 {
    font-size: 1.9rem; }
  .menu {
    padding: 10px;
    background: var(--color);
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background: var(--secundario);
    position: sticky !important;
    top: 0; }
  .logo_nombre {
    font-size: 2rem; }
  .hero {
    min-height: 69vh;
    position: relative; }
    .hero_promo {
      padding-top: 33rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      margin: auto;
      position: relative;
      z-index: 2; }
  aside,
  .container_aside {
    display: none; }
  .container_canchas_h2 {
    font-size: 5rem;
    margin-left: 1rem; }
  .container_canchas_p {
    font-size: 4rem; }
  .menu_div_ul {
    padding: 10px;
    background: var(--color);
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background: var(--secundario);
    position: sticky !important;
    top: 0; }
  .menu_link {
    display: flex;
    flex-direction: row; }
  /* canchas */
  .logo_nombre,
  .logo_nombre2 {
    font-size: 4rem;
    color: var(--color); }
  .logo_nombre2 {
    margin-top: 2rem; }
  .container_grid,
  .container_grid2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem; }
  .container_img {
    width: 300px;
    height: 200px;
    margin: 0 auto 2rem; }
  .container_img2 {
    width: 300px;
    height: 200px;
    margin: 0 auto 2rem; }
  .container_img3 {
    width: 300px;
    height: 200px;
    margin: 0; }
  .contenido_canchas_h1 {
    font-size: 5rem; }
  /* Escuela */
  .centrar-txt {
    font-size: 5rem; }
  .contenedor_img4 {
    display: none; }
  .contenedor_img5 {
    width: 300px;
    height: 200px;
    margin: 0 auto 2rem; }
  /* tienda */
  #aside2 {
    min-width: 5%;
    margin-top: 0;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 20px;
    padding-right: 2px;
    /* margin: 40px 20px 20px 0; */
    height: 2%;
    background-color: var(--secundario);
    padding: 2rem;
    border-radius: 10px;
    position: sticky;
    top: rem;
    font-size: 7rem;
    width: 2102312p; }
  .container_tienda_pelotas {
    display: flex;
    /* grid-template-columns: repeat(1, 1fr); */
    flex-direction: column;
    margin-left: -12rem; }
  .container_tienda_botines {
    display: flex;
    /* grid-template-columns: repeat(1, 1fr); */
    flex-direction: row; }
  div .contenedor_tienda_grid img {
    width: 70px;
    height: 80px; }
  .container_h3 {
    color: var(--color);
    font-family: var(--fuente);
    font-size: 5rem; }
  /* contacto */
  .container_contacto,
  .container_h4 {
    color: var(--color);
    text-align: center; }
  .container_form {
    margin-left: 4rem;
    margin-right: 20rem;
    margin-bottom: 2rem; }
  .campo__label {
    margin-left: -4rem; }
  .campo__field {
    margin-left: -2rem; }
  .campo__field--textarea {
    margin-right: -3rem; } }

main .container_form {
  margin-left: 4rem;
  margin-right: 20rem;
  margin-bottom: 2rem; }

main .campo__label {
  margin-left: -4rem; }

main .campo__field {
  margin-left: -2rem; }

main .campo__field--textarea {
  margin-right: -3rem; }

main {
  /* efecto */ }
  main .container_cancha {
    max-width: 1080px;
    margin-left: 20rem;
    display: flex;
    align-items: center; }
    main .container_cancha .container_grid,
    main .container_cancha .container_grid2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 2rem;
      margin-right: 2rem; }
    main .container_cancha .contenedor_img {
      /* margin: 0 10px 10px 50px; */
      margin-right: 2rem;
      margin-bottom: 1rem;
      width: 500px;
      height: 470px; }
    main .container_cancha .contenedor_img2 {
      /* margin: 0 10px 10px 50px; */
      margin-left: 11rem;
      margin-right: 0;
      width: 500px;
      height: 470px; }
    main .container_cancha .contenedor_img3 {
      width: 450px;
      height: 300px;
      margin-left: 4rem;
      margin-right: 0rem; }
  main .container_canchas_p {
    font-family: var(--fuente);
    color: var(--secundario);
    padding: 1.2rem;
    font-size: 5rem; }
  main .container_canchas_ul {
    font-family: var(--fuente);
    color: var(--secundario);
    padding: 1.2rem;
    font-size: 4rem;
    list-style: none; }
  main .contenido_canchas_h1 {
    color: var(--secundario);
    font-size: 10rem;
    font-family: var(--fuente);
    list-style: none;
    margin-right: 0; }
  main .contenido_canchas_p {
    color: var(--secundario);
    font-size: 5rem;
    font-family: var(--fuente);
    list-style: none; }
  main .contenido_canchas_ul {
    color: var(--secundario);
    font-size: 2rem;
    font-family: var(--fuente);
    list-style: none; }
  main .container_canchas_boton {
    display: block;
    font-family: var(--fuente);
    color: var(--color);
    text-align: center;
    padding: 2rem 5rem;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: black;
    margin-bottom: 2rem;
    border: none;
    text-decoration: none;
    align-items: center; }
    main .container_canchas_boton:hover {
      color: var(--secundario);
      background-color: #3c7209;
      transition: 0.4s ease-out all; }
  main .efecto {
    animation: efecto 1s; }

main .container {
  max-width: 1080px;
  margin: 0 auto; }
  main .container_pic .contenedor_img4 {
    display: none;
    margin-left: -20rem; }
  main .container_pic .contenedor_img5 {
    width: 300px;
    height: 200px;
    margin-left: 0; }

main .container_aside2 {
  min-width: 10%;
  margin-top: 4rem;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 20px;
  padding-right: 2px;
  /* margin: 40px 20px 20px 0; */
  height: 2%;
  background-color: var(--secundario);
  padding: 2rem;
  border-radius: 10px;
  position: sticky;
  top: 0 rem;
  font-size: 7rem; }

main .container_h3 {
  color: var(--color);
  font-family: var(--fuente);
  font-size: 5rem; }

main .container_canchas_boton {
  display: block;
  font-family: var(--fuente);
  color: var(--color);
  text-align: center;
  padding: 2rem 5rem;
  font-size: 3rem;
  text-transform: uppercase;
  background-color: black;
  margin-bottom: 2rem;
  border: none;
  text-decoration: none;
  align-items: center; }
  main .container_canchas_boton:hover {
    color: var(--secundario);
    background-color: #3c7209;
    transition: 0.4s ease-out all; }

main .container .container_tienda .container_tienda_pelotas {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

@media only screen and (min-width: 768px) {
  .container_tienda_pelotas {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container_tienda_botines {
    display: none; }
  div .contenedor_tienda_grid img {
    width: 70px;
    height: 80px; }
  .container_h3 {
    color: var(--color);
    font-family: var(--fuente);
    font-size: 500rem; } }
=======
  color: var(--secundario);
  background-color: #3c7209;
  transition: 0.4s ease-out all; }
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898
