main{
  
    .container_cancha{
        max-width: 80%;
      margin-left: 10rem;
     
    .container_grid,
    .container_grid2 {
      
     display: grid;
     grid-template-columns: repeat(2,1fr);
    }
    .contenedor_img {
        /* margin: 0 10px 10px 50px; */
        margin: 0 10px 100px 50px;
        width: 400px;
        height: 400px;
      }
      .contenedor_img2 {
        /* margin: 0 10px 10px 50px; */
    
        margin: 0 10px 100px 50px;
        width: 400px;
        height: 400px;
      } 
      .contenedor_img3 {
        margin: 0 10px 100px 50px;
        width: 400px;
        height: 400px;
      
      }
}
 
  .container_canchas_p {
    font-family: var($fuente);
    color: var($secundario);
    padding: 1.2rem;
    font-size: 5rem;
  }
  .container_canchas_ul {
    font-family: var($fuente);
    color: var($secundario);
    padding: 1.2rem;
    font-size: 4rem;
    list-style: none;
  }
  
  .contenido_canchas_h1 {
    color: var($secundario);
    font-size: 10rem;
    font-family: var($fuente);
    list-style: none;
    margin-right: 0;
  }
  .contenido_canchas_p {
    color: var($secundario);
    font-size: 5rem;
    font-family: var($fuente);
    list-style: none;
  }
  .contenido_canchas_ul {
    color: var($secundario);
    // font-size: 2rem;
    font-family: var($fuente);
  
    list-style: none;
  }
  .container_canchas_boton {
    display: block;
    font-family: var($fuente);
    color: var($color);
    text-align: center;
    padding: 2rem 5rem;
    font-size: 3rem;
    margin-bottom: 2rem !important;
    text-transform: uppercase;
    background-color: black;
    margin-bottom: 2.4rem;
    border: none;
    text-decoration: none;
    align-items: center;
   
    &:hover {
        color: var($secundario);
        background-color: #3c7209;
        transition: 0.4s ease-out all;
      }  
}
  
  /* efecto */
  .efecto {
    animation: efecto 1s;
  }

}
@media (max-width:799px){
  .contenido_canchas_ul{
   
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
 
    .container_ul{

      display: flex !important;
  
    }

  }
 
}
@media(max-width:800px){
.contenido_canchas_h1 li{
  font-size: 5rem !important;
}
  .container_cancha{
  margin-left: 2rem !important ;
}
  .container{
  max-width: 80%;
  margin-left: 1rem !important;
  &_grid{

    display: grid;
    grid-template-columns: repeat(1,1fr)!important;
    }
&_grid2{
  display: grid;
  grid-template-columns: repeat(1,1fr)!important;
  
}

 &_img{
   margin:2rem 2rem 0 auto !important;

   @include tamañoImg(225px !important,225px !important)
  
}
 &_img3{
  
  margin:2rem 0rem 2rem auto !important;
  @include tamañoImg(225px !important,225px !important)
}
  
  
}

}
@media only screen and (min-width:509px) and (max-width: 799px){
  .container_img{
    margin:2rem 2rem 0 auto !important;
 
    @include tamañoImg(400px !important,400px !important)
   
 }
  .container_img3{
   
   margin:2rem 0rem 2rem auto !important;
   @include tamañoImg(400px !important,400px !important)
 }

}