main{



    .container{
        
            max-width: 1080px;
            margin: 0 auto;
          
        &_pic{
            .contenedor_img4 {
                display: none;
                margin-left: -20rem;
              }
              .contenedor_img5 {
                width: 300px;
                height: 200px;
                margin-left: 0;
              } }
              &_objetivos{

              }
            }
}