/* HELPERS */
.color-n {
  color: var(--secundario);
}
.centrar-txt {
  text-align: center;
  color: var(--secundario);
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
}
