/* HELPERS */
.color-n {
  color: var($secundario);
}
.centrar-txt {
  text-align: center;
  color: var($secundario);
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
}

@mixin tama単oImg ($width,$height){
  height: $height;
  width: $width;
}

.container_img{
  @include tama単oImg(500px,400px !important );
}
.container_img2{
  @include tama単oImg(500px,400px  !important);
}
.container_img3{
  @include tama単oImg(500px,400px !important );
}
