/* HELPERS */
.color-n {
<<<<<<< HEAD
  color: var($secundario);
}
.centrar-txt {
  text-align: center;
  color: var($secundario);
=======
  color: var(--secundario);
}
.centrar-txt {
  text-align: center;
  color: var(--secundario);
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
}
<<<<<<< HEAD

@mixin tamañoImg ($width,$height){
  height: $height;
  width: $width;
}

.container_img{
  @include tamañoImg(300px,200px );
}
.container_img2{
  @include tamañoImg(300px,200px );
}
.container_img3{
  @include tamañoImg(300px,200px );
}
=======
>>>>>>> d1b6cae491a521ff5d3f83afa4f3100e500d2898
